$themes: (
	dark: (
		fg: hsla(0, 0%, 100%, 1),
		fg-alt: hsla(250, 8%, 70%, 1),
		fg-detail: hsla(250, 8%, 48%, 1),
		fg-brand: #ff66e7,
		bg: hsla(250, 6%, 10%, 1),
		bg-alt: hsla(250, 6%, 15%, 1),
		bg-detail: hsla(250, 6%, 20%, 1),
		bg-brand: #f47be0,
	),
	light: (
		fg: hsla(240, 8%, 5%, 1),
		fg-alt: hsla(250, 8%, 28%, 1),
		fg-detail: hsla(250, 8%, 48%, 1),
		fg-brand: #f20dce,
		bg: hsla(250, 8%, 90%, 1),
		bg-alt: hsla(0, 0%, 100%, 1),
		bg-detail: hsla(252, 6%, 70%, 1),
		bg-brand: #b20096,
	),
);
