@mixin BlockText() {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

@mixin FontWeightBold() {
	font-weight: var(--font-weight-bold);
}
@mixin FontWeightMedium() {
	font-weight: var(--font-weight-semibold);
}
@mixin FontWeightRegular() {
	font-weight: var(--font-weight-regular);
}

@mixin HeroTitle {
	@include BlockText();
	@include FontWeightBold();
	font-size: var(--font-size-hero-title);
	line-height: var(--line-height-medium);
	letter-spacing: -0.02em;
}
@mixin HeroContent {
	@include BlockText();
	@include FontWeightRegular();
	font-size: var(--font-size-hero-content);
	line-height: var(--line-height-medium);
	letter-spacing: 0em;
}

@mixin LargeTitle {
	@include BlockText();
	@include FontWeightBold();
	font-size: var(--font-size-large-title);
	line-height: var(--line-height-medium);
	letter-spacing: -0.01em;
}
@mixin LargeContent {
	@include BlockText();
	@include FontWeightRegular();
	font-size: var(--font-size-large-content);
	line-height: var(--line-height-medium);
	letter-spacing: 0em;
}

@mixin MediumTitle {
	@include BlockText();
	@include FontWeightMedium();
	font-size: var(--font-size-medium-title);
	line-height: var(--line-height-medium);
	letter-spacing: -0.01em;
}
@mixin MediumContent {
	@include BlockText();
	@include FontWeightRegular();
	font-size: var(--font-size-medium-content);
	line-height: var(--line-height-medium);
	letter-spacing: 0em;
}

@mixin SmallTitle {
	@include BlockText();
	@include FontWeightMedium();
	font-size: var(--font-size-small-title);
	line-height: var(--line-height-medium);
	letter-spacing: -0.01em;
}
@mixin SmallContent {
	@include BlockText();
	@include FontWeightRegular();
	font-size: var(--font-size-small-content);
	line-height: var(--line-height-medium);
	letter-spacing: -0.01em;
}

@mixin Label {
	@include BlockText();
	@include FontWeightBold();
	font-size: var(--font-size-label);
	line-height: var(--line-height-medium);
	letter-spacing: -0.1em;
}
