// Last Updated Fri, 03 Dec 2021 22:12:59 GMT
$font-family-sans:var(--font-family-sans);
$font-family-serif:var(--font-family-serif);
$font-family-mono:var(--font-family-mono);
$font-size-hero-title:var(--font-size-hero-title);
$font-size-large-title:var(--font-size-large-title);
$font-size-medium-title:var(--font-size-medium-title);
$font-size-small-title:var(--font-size-small-title);
$font-size-hero-content:var(--font-size-hero-content);
$font-size-large-content:var(--font-size-large-content);
$font-size-medium-content:var(--font-size-medium-content);
$font-size-small-content:var(--font-size-small-content);
$font-weight-base:var(--font-weight-base);
$font-weight-medium:var(--font-weight-medium);
$font-weight-bold:var(--font-weight-bold);
$line-height-tiny:var(--line-height-tiny);
$line-height-small:var(--line-height-small);
$line-height-medium:var(--line-height-medium);
$line-height-large:var(--line-height-large);
$line-height-huge:var(--line-height-huge);
$space-tiny:var(--space-tiny);
$space-small:var(--space-small);
$space-medium:var(--space-medium);
$space-large:var(--space-large);
$space-huge:var(--space-huge);
$radius-tiny:var(--radius-tiny);
$radius-small:var(--radius-small);
$radius-medium:var(--radius-medium);
$radius-large:var(--radius-large);
$radius-huge:var(--radius-huge);
$clr-dark-fg-brand:var(--clr-dark-fg-brand);
$clr-dark-fg-accent:var(--clr-dark-fg-accent);
$clr-dark-fg:var(--clr-dark-fg);
$clr-dark-fg-content:var(--clr-dark-fg-content);
$clr-dark-fg-detail:var(--clr-dark-fg-detail);
$clr-dark-bg-brand:var(--clr-dark-bg-brand);
$clr-dark-bg-accent:var(--clr-dark-bg-accent);
$clr-dark-bg-elevated:var(--clr-dark-bg-elevated);
$clr-dark-bg:var(--clr-dark-bg);
$clr-dark-bg-depressed:var(--clr-dark-bg-depressed);
$clr-dark-border-brand:var(--clr-dark-border-brand);
$clr-dark-border-accent:var(--clr-dark-border-accent);
$clr-dark-border-elevated:var(--clr-dark-border-elevated);
$clr-dark-border:var(--clr-dark-border);
$clr-dark-border-depressed:var(--clr-dark-border-depressed);
$clr-light-fg-brand:var(--clr-light-fg-brand);
$clr-light-fg-accent:var(--clr-light-fg-accent);
$clr-light-fg:var(--clr-light-fg);
$clr-light-fg-content:var(--clr-light-fg-content);
$clr-light-fg-detail:var(--clr-light-fg-detail);
$clr-light-bg-brand:var(--clr-light-bg-brand);
$clr-light-bg-accent:var(--clr-light-bg-accent);
$clr-light-bg-elevated:var(--clr-light-bg-elevated);
$clr-light-bg:var(--clr-light-bg);
$clr-light-bg-depressed:var(--clr-light-bg-depressed);
$clr-light-border-brand:var(--clr-light-border-brand);
$clr-light-border-accent:var(--clr-light-border-accent);
$clr-light-border-elevated:var(--clr-light-border-elevated);
$clr-light-border:var(--clr-light-border);
$clr-light-border-depressed:var(--clr-light-border-depressed);
$fg-brand:var(--fg-brand);
$fg-accent:var(--fg-accent);
$fg:var(--fg);
$fg-content:var(--fg-content);
$fg-detail:var(--fg-detail);
$bg-brand:var(--bg-brand);
$bg-accent:var(--bg-accent);
$bg-elevated:var(--bg-elevated);
$bg:var(--bg);
$bg-depressed:var(--bg-depressed);
$border-brand:var(--border-brand);
$border-accent:var(--border-accent);
$border-elevated:var(--border-elevated);
$border:var(--border);
$border-depressed:var(--border-depressed);