@use "./styles/mixins" as *;
@import "./styles/normalize";
@import "./styles/custom-properties";

:root {
	@include DarkMode;
	//@include LightMode;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 62.5%;
	font-feature-settings: "cv09" on, "cv08" on, "cv04" on, "cv03" on, "cpsp" on, "case" on;
}

body {
	@include Content();
	line-height: 1em;

	background-color: var(--bg);
	color: var(--fg);
}

a {
	color: var(--fg-primary);
	&:hover {
		color: var(--fg-accent);
	}
}

h1 {
	@include H1();
}
h2 {
	@include H2();
}
h3 {
	@include H3();
}
h4 {
	@include H4();
}
h5 {
	@include H5();
}
h6 {
	@include H6();
}
p {
	@include Content();
}
