@mixin BlockText() {
	margin-block-start: 0em;
	margin-block-end: 0em;
}
/*
	Headings
*/
@mixin H1 {
	@include BlockText();
	font-size: var(--font-size-huge);
	font-family: var(--font-family-sans);
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-tiny);
	letter-spacing: -0.02em;
}
@mixin H2 {
	@include BlockText();
	font-size: var(--font-size-large);
	font-family: var(--font-family-sans);
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-small);
	letter-spacing: -0.015em;
}
@mixin H3 {
	@include BlockText();
	font-size: var(--font-size-medium);
	font-family: var(--font-family-sans);
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-medium);
	letter-spacing: -0.01em;
}
@mixin H4 {
	@include BlockText();
	font-size: var(--font-size-medium);
	font-family: var(--font-family-sans);
	font-weight: var(--font-weight-base);
	line-height: var(--line-height-medium);
	letter-spacing: -0.01em;
}
@mixin H5 {
	@include BlockText();
	font-size: var(--font-size-small);
	font-family: var(--font-family-sans);
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-medium);
	letter-spacing: 0em;
}
@mixin H6 {
	@include BlockText();
	font-size: var(--font-size-tiny);
	font-family: var(--font-family-sans);
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-medium);
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
@mixin Content {
	@include BlockText();
	font-size: var(--font-size-small);
	font-family: var(--font-family-sans);
	font-weight: var(--font-weight-base);
	line-height: var(--line-height-large);
	letter-spacing: 0.01em;
}
