@use "../tokens" as *;

@mixin DarkMode {
	color-scheme: dark;

	--fg: var(--clr-dark-fg);
	--fg-alt: var(--clr-dark-fg-alt);
	--fg-detail: var(--clr-dark-fg-detail);
	--fg-brand: var(--clr-dark-fg-brand);

	--bg: var(--clr-dark-bg);
	--bg-alt: var(--clr-dark-bg-alt);
	--bg-detail: var(--clr-dark-bg-detail);
	--bg-brand: var(--clr-dark-bg-brand);
}

@mixin LightMode {
	color-scheme: light;

	--fg: var(--clr-light-fg);
	--fg-alt: var(--clr-light-fg-alt);
	--fg-detail: var(--clr-light-fg-detail);
	--fg-brand: var(--clr-light-fg-brand);

	--bg: var(--clr-light-bg);
	--bg-alt: var(--clr-light-bg-alt);
	--bg-detail: var(--clr-light-bg-detail);
	--bg-brand: var(--clr-light-bg-brand);
}
